html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
@function rem($px){
    $remSize: $px / 375 *10;
    @return #{$remSize}rem;
}

body {
    font-size: rem(16);
    text-align: left;
    width: 100%;
    overflow: hidden;
    background-color: #e9dfc7;
}
.m-read-content {
    font-size: rem(14);
    color: #555;
    line-height: rem(31);
    padding: rem(15);
    h4 {
        font-size: rem(20);
        color: #736357;
        border-bottom: 1px solid #736357;
        letter-spacing: 2px;/*字间距，word-spacing与letter-spacing,对应单词与字母间距，后者才对中文有效*/
        margin: 0 0 1em 0;
    }
    p {
        text-indent: 2em;/*首行缩进*/
        margin: 0.5em 0;
        letter-spacing: 0px;
        line-height: rem(24);
    }
}

.m-artical-action {
    .artical-action-mid {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 40%;
        top: 30%;
    }
}

.m-button-bar {
    width: 70%;
    max-width: rem(800);/*防止因为在大的浏览器里面浏览，70%过短不够美观*/
    padding: rem(5);
    margin: 0 auto;
    .u-tab {
        height: rem(34);
        margin: rem(10) auto;
        line-height: rem(34); 
        border-radius: rem(8);
        border: 1px solid #858382;
        font-size: rem(12);
        background: #000;
        opacity: 0.9;
        li {
            display: inline-block;
            width: 49%;
            border-right: 1px solid #858382;
            text-align: center;
            color: #fff;
            &::nth-child(2){
                border-right: none;
            }
        }
    }
}

.top-nav {
    position: fixed;/*fixed默认没有z-index*/
    top: 0;
    height: rem(50);
    width: 100%;                       
    z-index: 1;
    background-color: #000;
    .icon-back svg{
        position: absolute;
        top: rem(14);
        left: rem(10);
        width: rem(23);
        height: rem(23);
        fill: #fff;
    }
    .nav-title {
        position: absolute;
        top: rem(14);
        left: rem(42);
        color: #d5d5d6;
    }
}


.pannel-position{
    position: fixed;
    bottom: rem(70);
    height: rem(135);
    width: 100%;
}

.nav-pannel-bk {
    @extend .pannel-position;
    background-color: #000;
    opacity: 0.9;
    z-index: 2;
}
.nav-pannel {
    @extend .pannel-position;
    background: none;/*background包含background-color*/
    color: #fff;
    z-index: 3;
    .child-mod {
        padding: rem(5) rem(10);
        margin: rem(15);
        span {
            display: inline-block; 
            padding-left: rem(10);
            padding-right: rem(20);
        }
        .font-size-button {
            font-size: rem(14);
            outline: none;
            background: none;
            border: 1px solid #8c8c8c;
            color: #fff;
            border-radius: rem(15);
            padding: rem(5) rem(40);
            &:nth-child(2){/*用“父亲 孩子:nth-child(n)”模式,CSS从1开始*/
                margin-right: rem(10);
            }
        }
    }
}


.bk-container-setting{
    position: relative;
    width: rem(30);
    height: rem(30);
    border-radius: rem(15);
    display: inline-block;/*为了让所有的圈圈排在同一行*/
    vertical-align: rem(-10);
    margin-right: rem(8);
}

.bk-container-white {
    @extend .bk-container-setting;
    background-color: #fff;
}
.bk-container-normal {
    @extend .bk-container-setting;
    background-color: #e9dfc7;
}
.bk-container-gray {
    @extend .bk-container-setting;
    background-color: gray;
}
.bk-container-green {
    @extend .bk-container-setting;
    background-color: rgb(144, 207, 165);
}
.bk-container-blue {
    @extend .bk-container-setting;
    background-color: #388994;
}

.bottom-nav-setting {
    position: fixed;
    width: 100%;
    height: rem(70);
    background: none;
    bottom: 0;
}
.bottom-nav-bk {
    @extend .bottom-nav-setting;
    background-color: #000;
    opacity: 0.9;
}
.svg-setting{
    position: absolute;
    bottom: rem(35);
    width: rem(23);
    height: rem(23);
    fill: currentColor;
}
.title-setting{
    position: absolute;
    color: #fff;
    bottom: rem(10);
}
.bottom-nav {
    @extend .bottom-nav-setting;
    .item{
        color:#fff;
        &.active{
            color: rgb(236, 177, 49);
        }
        .item-wrap{
            .icon-category{
                svg{
                    @extend .svg-setting;
                    left: rem(63);
                }
            } 
            .category-title {
                @extend .title-setting;
                left: rem(60);
            }
            .icon-font {
                svg{
                    @extend .svg-setting;
                    left: rem(183);
                }
            }
            .font-title {
                @extend .title-setting;
                left: rem(180);
            }
            .icon-day{
                svg{
                    @extend .svg-setting;
                    left: rem(303);
                }
            } 
            .day-title {
                @extend .title-setting;
                left: rem(297);
            }
            .icon-night {
                svg{
                    @extend .svg-setting;
                    left: rem(303);
                }
            }
            .night-title {
                @extend .day-title;
            }
        }
    }
}




