@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 1.33547rem;
  text-align: left;
  width: 100%;
  overflow-x: hidden;
  background-color: #e9dfc7;
}

.m-read-content {
  font-size: 1.16853rem;
  color: #555;
  line-height: 2.58747rem;
  padding: 1.252rem;
}

.m-read-content h4 {
  font-size: 1.66933rem;
  color: #736357;
  border-bottom: 1px solid #736357;
  letter-spacing: 2px;
  /*字间距，word-spacing与letter-spacing,对应单词与字母间距，后者才对中文有效*/
  margin: 0 0 1em 0;
}

.m-read-content p {
  text-indent: 2em;
  margin: 0.5em 0;
  letter-spacing: 0px;
  line-height: 2em;
}

.m-artical-action .artical-action-mid {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 40%;
  top: 30%;
}

.m-button-bar {
  width: 70%;
  max-width: 66.77333rem;
  /*防止因为在大的浏览器里面浏览，70%过短不够美观*/
  padding: 0.41733rem;
  margin: 0 auto;
}

.m-button-bar .u-tab {
  height: 2.83787rem;
  margin: 0.83467rem auto;
  line-height: 2.83787rem;
  border-radius: 0.66773rem;
  border: 1px solid #858382;
  font-size: 1.0016rem;
  background: #000;
  opacity: 0.9;
}

.m-button-bar .u-tab li {
  display: inline-block;
  width: 49%;
  border-right: 1px solid #858382;
  text-align: center;
  color: #fff;
}

.m-button-bar .u-tab li:nth-child(2) {
  border-right: none;
}

.top-nav {
  position: fixed;
  /*fixed默认没有z-index*/
  top: 0;
  height: 4.17333rem;
  width: 100%;
  z-index: 1;
  background-color: #000;
}

.top-nav .icon-back svg {
  position: absolute;
  top: 1.16853rem;
  left: 0.83467rem;
  width: 1.91973rem;
  height: 1.91973rem;
  fill: #fff;
}

.top-nav .nav-title {
  position: absolute;
  top: 1.33547rem;
  left: 3.5056rem;
  color: #d5d5d6;
}

.pannel-position, .nav-pannel-bk, .nav-pannel {
  position: fixed;
  bottom: 5.84267rem;
  height: 11.268rem;
  width: 100%;
}

.nav-pannel-bk {
  background-color: #000;
  opacity: 0.9;
  z-index: 2;
}

.nav-pannel {
  background: none;
  /*background包含background-color*/
  color: #fff;
  z-index: 3;
}

.nav-pannel .child-mod {
  padding: 0.41733rem 0.83467rem;
  margin: 1.252rem;
}

.nav-pannel .child-mod span {
  display: inline-block;
  padding-left: 0.83467rem;
  padding-right: 1.66933rem;
}

.nav-pannel .child-mod .font-size-button {
  font-size: 1.16853rem;
  outline: none;
  background: none;
  border: 1px solid #8c8c8c;
  color: #fff;
  border-radius: 1.252rem;
  padding: 0.41733rem 3.33867rem;
}

.nav-pannel .child-mod .font-size-button:nth-child(2) {
  /*用“父亲 孩子:nth-child(n)”模式,CSS从1开始*/
  margin-right: 0.83467rem;
}

.bk-container-setting, .bk-container-white, .bk-container-normal, .bk-container-gray, .bk-container-green, .bk-container-blue, .bk-container-night {
  position: relative;
  width: 2.504rem;
  height: 2.504rem;
  border-radius: 1.252rem;
  display: inline-block;
  /*为了让所有的圈圈排在同一行*/
  vertical-align: -0.83467rem;
  margin-right: 0.66773rem;
}

.bk-container-white {
  background-color: #f7eee5;
}

.bk-container-normal {
  background-color: #e9dfc7;
}

.bk-container-gray {
  background-color: #a4a4a4;
}

.bk-container-green {
  background-color: #cdefce;
}

.bk-container-blue {
  background-color: #283548;
}

.bk-container-night {
  background-color: #000;
}

.bottom-nav-setting, .bottom-nav-bk, .bottom-nav {
  position: fixed;
  width: 100%;
  height: 5.84267rem;
  background: none;
  bottom: 0;
  display: flex;
}

.bottom-nav-bk {
  display: flex;
  background-color: #000;
  opacity: 0.9;
}

.svg-setting, .bottom-nav .item .item-wrap .icon-category svg, .bottom-nav .item .item-wrap .icon-font svg, .bottom-nav .item .item-wrap .icon-day svg, .bottom-nav .item .item-wrap .icon-night svg {
  bottom: 2.92133rem;
  width: 1.91973rem;
  height: 1.91973rem;
  fill: currentColor;
}

.title-setting, .bottom-nav .item .item-wrap .category-title, .bottom-nav .item .item-wrap .font-title, .bottom-nav .item .item-wrap .day-title, .bottom-nav .item .item-wrap .night-title {
  color: #fff;
  bottom: 0.83467rem;
}

.bottom-nav .item {
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}

.bottom-nav .item.active {
  color: #ecb131;
}
 

 /*# sourceMappingURL= reader.css.map */