html {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

body {
    font-size: 16px;
    text-align: left;
    width: 100%;
    overflow-x: hidden;
    background-color: #e9dfc7;
}
.m-read-content {
    font-size: 14px;
    color: #555;
    line-height: 31px;
    padding: 15px;
    h4 {
        font-size: rem(20);
        color: #736357;
        border-bottom: 1px solid #736357;
        letter-spacing: 2px;/*字间距，word-spacing与letter-spacing,对应单词与字母间距，后者才对中文有效*/
        margin: 0 0 1em 0;
    }
    p {
        text-indent: 2em;
        margin: 0.5em 0;
        letter-spacing: 0px;
        line-height: 2em;
    }
}

.m-artical-action {
    .artical-action-mid {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 40%;
        top: 30%;
    }
}

.m-button-bar {
    width: 70%;
    max-width: 800px;/*防止因为在大的浏览器里面浏览，70%过短不够美观*/
    padding: 5px;
    margin: 0 auto;
    .u-tab {
        height: 34px;
        margin: 10px auto;
        line-height: 34px; 
        border-radius: 8px;
        border: 1px solid #858382;
        font-size: 12px;
        background: #000;
        opacity: 0.9;
        li {
            display: inline-block;
            width: 49%;
            border-right: 1px solid #858382;
            text-align: center;
            color: #fff;
            &:nth-child(2){
                border-right: none;
            }
        }
    }
}

.top-nav {
    position: fixed;/*fixed默认没有z-index*/
    top: 0;
    height: 50px;
    width: 100%;                       
    z-index: 1;
    background-color: #000;
    .icon-back svg{
        position: absolute;
        top: 14px;
        left: 10px;
        width: 23px;
        height: 23px;
        fill: #fff;
    }
    .nav-title {
        position: absolute;
        top: 14px;
        left: 42px;
        color: #d5d5d6;
    }
}


.pannel-position{
    position: fixed;
    bottom: 70px;
    height: 135px;
    width: 100%;
}

.nav-pannel-bk {
    @extend .pannel-position;
    background-color: #000;
    opacity: 0.9;
    z-index: 2;
}
.nav-pannel {
    @extend .pannel-position;
    background: none;/*background包含background-color*/
    color: #fff;
    z-index: 3;
    .child-mod {
        padding: 5px 10px;
        margin: 15px;
        span {
            display: inline-block; 
            padding-left: 10px;
            padding-right: 20px;
        }
        .font-size-button {
            font-size: 14px;
            outline: none;
            background: none;
            border: 1px solid #8c8c8c;
            color: #fff;
            border-radius: 15px;
            padding: 5px 40px;
            &:nth-child(2){
                margin-right: 10px;
            }
        }
    }
}


.bk-container-setting{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;/*为了让所有的圈圈排在同一行*/
    vertical-align: -10px;
    margin-right: 8px;
}

.bk-container-white {
    @extend .bk-container-setting;
    background-color: #f7eee5;
}
.bk-container-normal {
    @extend .bk-container-setting;
    background-color: #e9dfc7;
}
.bk-container-gray {
    @extend .bk-container-setting;
    background-color: #a4a4a4;
}
.bk-container-green {
    @extend .bk-container-setting;
    background-color: #cdefce;
}
.bk-container-blue {
    @extend .bk-container-setting;
    background-color: #283548;
}
.bk-container-night {
    @extend .bk-container-setting;
    background-color: #000;
}

.bottom-nav-setting {
    position: fixed;
    width: 100%;
    height: 60px;
    background: none;
    bottom: 0;
    display: flex;
}
.bottom-nav-bk {
    @extend .bottom-nav-setting;
    display: flex;
    background-color: #000;
    opacity: 0.9;
}
.svg-setting{
    bottom: 35px;
    width: 23px;
    height: 23px;
    fill: currentColor;
}
.title-setting{
    color: #fff;
    bottom: 10px;
}
.bottom-nav {
    @extend .bottom-nav-setting;
    .item{
        color:#fff;
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;
        &.active{
            color: rgb(236, 177, 49);
        }
        .item-wrap{
            text-align: center;
            .icon-category{
                svg{
                    @extend .svg-setting;
                }
            } 
            .category-title {
                @extend .title-setting;
            }
            .icon-font {
                svg{
                    @extend .svg-setting;
                }
            }
            .font-title {
                @extend .title-setting;
            }
            .icon-day{
                svg{
                    @extend .svg-setting;
                }
            } 
            .day-title {
                @extend .title-setting;
            }
            .icon-night {
                svg{
                    @extend .svg-setting;
                }
            }
            .night-title {
                @extend .day-title;
            }
        }
    }
}




