<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name = "formate-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>书城首页</title>
</head>
<body>
    <div id="root">
        <div class="container-wrap" id="app"> 
            {{ test }}
            <% include include/header.html %>
            <div class="container-scroll">
                <% include include/index-top.html %>
                <% include include/index-hot.html %>
                <% include include/index-recommend.html %>
                <% include include/index-female.html %>
                <% include include/index-male.html %>
                <% include include/index-free.html %>
                <% include include/index-bottom.html %>
            </div> 
        </div>
    </div>
</body>
<script src="/static/script/pages/vue.js"></script>
<script src="/static/script/pages/zepto.js"></script>
<script src="/static/script/pages/index.js"></script>
</html>